<ion-modal-view class="registerModals">
    <ion-header-bar class="bar bar-header bar-balanced">
        <button class="button button-clear button-icon icon ion-chevron-left" ng-click="closeModal()"></button>
        <h1 class="title">Privacy Policy</h1>
    </ion-header-bar>
    <ion-content id="privacy" class="padding">
		<h1>Privacy Policy</h1>
		<p>
		We may revise this Privacy Policy from time to time. By continuing to access or use the services after those changes become effective, you agree to be bound by the revised Privacy Policy.
		</p>
		<ul>
			<li>
				<h2>Information Collection</h2>
				<p>
				Basic Account Information: When you create or reconfigure an account, you provide some personal information, such as your name, username, password, email address etc. On the Seed Services, your name is listed publicly, including on your profile page and in search results, and you can use either your real name or a pseudonym.
				</p>

				<p>
				Project Information: Under no circumstances will KevApps be liable in any way for any content, including, but not limited to, any errors or omissions in any content, or any loss or damage of any kind incurred as a result of the use of any content posted, transmitted or otherwise made available via the services or broadcast elsewhere.
				</p>
			</li>
			<li>
				<h2>Cookies</h2>
				<p>
				We may use cookies in connection with our services and some of the cookies may be linked to your personally identifiable information. Any time you register on a site, use a site, place an order through a site, or identify yourself or the computer you are using through a site, you will be deemed to have given use permission to link your personally identifiable information with cookies.
				Most or all browsers permit you to disable or reject cookies. You can do this by setting the preferences in the browser. Use the "help" feature of your browser to obtain more information about refusing cookies. However, if you set the browser you use to reject cookies or otherwise disable them, you may not be able to use any or all of the functionality at one or more of the sites or it may take additional time to utilize such functionality. If you wish to use any such functionality that requires the use of cookies at any of our sites, then you must accept the use of cookies for that site, and thereby, give us your permission to link your data as discussed above.
				One or more of the organizations working with us to develop or provide our services or products, or with which we otherwise do business, or to which we provide links from a site, may also use cookies of their own. We have no control over such organizations' uses of cookies and users should review the privacy policies of such organizations to determine the uses such organizations make of cookies.
				</p>
			</li>
		</ul>
    </ion-content>
</ion-modal-view>