<ion-modal-view id="editProjectModal">
    <ion-header-bar class="bar bar-header bar-balanced">
        <button class="menuButton button button-clear button-icon icon-left icon ion-android-close" ng-click="closeModal(3)">Cancel</button>
        <button class="menuButton button button-clear button-icon icon icon-left ion-android-done" ng-click="saveProject()">Done</button>
    </ion-header-bar>
    <ion-content>
        <button id="colorPicker" ng-style="{'background-color':projectDetails.colorLabel}" ng-click="openColorPicker()"></button>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <i class="invalid-icon icon ion-close" ng-class="{'hide' : projectNameChecker == false}"></i>
                <span class="input-label">Project Name</span>
                <input type="text" ng-model="projectDetails.projectName" placeholder="Required">
            </label>
            <label class="item item-input item-stacked-label">
                <i class="invalid-icon icon ion-close" ng-class="{'hide' : allottedHoursChecker == false}"></i>
                <span class="input-label">Allotted Hours</span>
                <input type="number" ng-model="projectDetails.allottedHours" placeholder="Required">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Start Date</span>
                <ionic-datepicker idate="projectDetails.startDate">
                    <button class="button-full datepickerBtn">{{projectDetails.startDate | date:'MMMM dd, yyyy'}}</button>
                </ionic-datepicker>
            </label>
            <label class="item item-input item-stacked-label">
                <i class="invalid-icon icon ion-close" ng-class="{'hide' : endDateChecker == false}"></i>
                <span class="input-label">End Date</span>
                <ionic-datepicker idate="projectDetails.endDate">
                    <button class="button-full datepickerBtn">{{projectDetails.endDate | date:'MMMM dd, yyyy'}}</button>
                </ionic-datepicker>
            </label>
            <label class="item item-toggle">
                Mark as finished
                <label class="toggle toggle-balanced">
                    <input type="checkbox" ng-model="projectDetails.isFinished">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>
        </div>
    </ion-content>
</ion-modal-view>
