<ion-view ng-controller="Register">
    <ion-content class="settings">
        <h1>Work Details</h1>
        <p ng-class="pClass" ng-bind-html="companyHint"></p>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" ng-model="accountDetails.company" placeholder="Company">
            </label>
            <label class="item item-input">
                <input type="text" ng-model="accountDetails.position" placeholder="Position">
            </label>
        </div>
        <p class="reminder">Upon clicking Continue button you agree to our <a ng-click="openTosModal()">Terms of Service</a> and that you have read our <a ng-click="openPrivacyModal()">Privacy Policy</a>.</p>
        <div class="ctnBtn">
            <button ng-click="getDetails()" class="button button-light button-border-radius">Continue</button>
            <a href="#/login">Sign In</a>
        </div>
    </ion-content>
</ion-view>
