<div id="terms">
    <ion-content class="padding">
		<h1>Terms of Services</h1>
		<ul>
			<li>
				<h2>1. Acceptance of terms</h2>
				<p>
					By using KevApps online services, provided by KevApps you agree to be bound by the following Terms of Service ("TOS"). The TOS may be updated by us from time to time without notice
				</p>
				<p>
					If you are entering into this agreement on behalf of a company or other legal entity, you represent that you have the authority to bind the entity to these terms and conditions, in which case the terms "you" or "your" shall refer to the entity. If you do not have such authority, or if you do not agree with these terms and conditions, you may not use the Service.
				</p>
				<p>
					Changes and features that augment or enhance the current Service shall be subject to the TOS. You understand and agree that the Service is provided "as is" and that KevApps assumes no responsibility for the timeliness, deletion, mis-delivery of or failure to store any user content or settings. You are responsible for obtaining access to the Service, which access may involve third-party fees (such as Internet Service Provider charges). You are responsible for those fees, including fees associated with the display or delivery of advertisements. In addition, you must provide and are responsible for all equipment necessary to access the Service.
				</p>
			</li>
			<li>
				<h2>2. Privacy</h2>
				<p>
					Please review our Privacy Policy, which governs the use of personal information on this application and to which user agrees to be bound as a user of this application.
				</p>
			</li>
			<li>
				<h2>3. Content</h2>
				<p>
					All Content, whether publicly posted or privately transmitted, is the sole responsibility of the person who originated such content. We may not monitor or control the content posted via the Services and, we cannot take responsibility for such content. Any use or reliance on any content or materials posted via the services or obtained by you through the services is at your own risk.
				</p>
				<p>
				We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any content or communications posted via the services or endorse any opinions expressed via the services. You understand that by using the Services, you may be exposed to content that might be offensive, harmful, inaccurate or otherwise inappropriate, or in some cases, postings that have been mislabeled or are otherwise deceptive. Under no circumstances will KevApps be liable in any way for any content, including, but not limited to, any errors or omissions in any content, or any loss or damage of any kind incurred as a result of the use of any content posted, transmitted or otherwise made available via the services or broadcast elsewhere.
				</p>
			</li>
			<li>
				<h2>4. Passwords</h2>
				<p>
					You  are responsible for safeguarding the password that you use to access the Services and for any activities or actions under your password. We encourage you to use strong passwords with your account. KevApps cannot and will not be liable for any loss or damage arising from your failure to comply with the above.
				</p>
			</li>
			<li>
				<h2>5. No resale of Service</h2>
				<p>
					KevApps reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice. You agree that KevApps shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Service
				</p>
			</li>
		</ul>
    </ion-content>
</div>