/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// my css begin
$positive:#81C784 !default;
$balanced:#4CAF50 !default;

.bgPrimary{
  background-color: $balanced !important;
}

div.btnLogin {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  button.btnLoginWidth {
    width: 100%;
  }
  a{
    color: #FFF;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    text-decoration: none;
  }
}

div.logoContainer{
  padding:5px 20px;
  img.logo{
    display: block;
    margin:0 auto;
  }
}

.settings{
  h1{
    color: $balanced;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 50px !important;
    margin-bottom: 30px !important;
  }
  p{
    display: block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  div.ctnBtn{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    button{
      border-color: $positive !important;
      color: $positive !important;
      width: 100%;
    }
    button.activated{
      background-color: $balanced !important;
      border-color: $positive !important;
      color: $positive !important;
      width: 100%;
    }
  }
  a{
    color: $balanced;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 10px;
  }
}
// my css end

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

